EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB3jchSZiCmOORVrau86O628WLuAOGH7jY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=reciptvault.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=reciptvault
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=reciptvault.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=224252116808
EXPO_PUBLIC_FIREBASE_APP_ID=1:224252116808:web:c353708f800aeb1fec7d7d